*{
	margin: 0;
	padding: 0;
}
body{}
.media-q{
	text-align: center;

}

.media-q h1{
	font-size: 70px;
	color: black;
}

.box{
	margin-bottom: 15px;
	height: 200px;
	background-color: black;
}
.media-q p {
	width: 500px;
}